  <%# <% @messages.each do |message| %>
    <%# <p>
      <%# <strong><%= message.role %></strong>
      <%# <%= raw(render_markdown(message.content)) %>
    <%# </p>
  <% end %>

<div class="container mt-4">
   <div class="mt-4 mb-4">
    <%= link_to "Chat History", user_messages_path, class: "btn btn-outline-primary me-2" %>
  </div>
  <% if user_signed_in? %>
  <h1>Your Events AI assistant</h1>
  <p>Ask me anything about the events on GetYourEvent!</p>

  <div class="chat-window border rounded p-3 mb-3" style="height: 60%; overflow-y: scroll;">
    <% @messages.last(2).each do |message| %>
      <% if message.role == "user" %>
        <div class="text-end mb-2">
          <p class="d-inline-block p-2 rounded bg-primary text-white m-0">
            <%= raw(render_markdown(message.content)) %>
          </p>
        </div>
      <% else %>
        <div class="text-start mb-2">
          <p class="d-inline-block p-2 rounded bg-light text-dark m-0">
            <%= raw(render_markdown(message.content)) %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@user, @message] do |f| %>
    <%= f.input :content, label: false, placeholder: "Ask a question...", required: true %>
    <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
  <% end %>
  <div class="mt-4 mb-4 text-start">
        <%= link_to "← Back to Events", events_path, class: "btn btn-outline-primary" %>
      </div>

  <% else %>
    <div class="row">
      <div class="col-12">
        <p>Please <%= link_to "log in", new_user_session_path %> to create a new message.</p>
        <div class="mt-4 mb-4 text-start">
        <%= link_to "← Back to Events", events_path, class: "btn btn-outline-primary" %>
      </div>
      </div>
    </div>
  <% end %>
</div>
