<h1> Ask our Chatbot</h1>
<div class="mb-3">
<%= simple_form_for  @message do |f| %>
  <%= f.input :content, label: "filter by keywords", required: true %>
  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
<% end %>
</div>

  <% @messages.each do |message| %>
    <p>
      <strong><%= message.role %> </strong>
      <%= raw(render_markdown(message.content)) %>
    </p>
  <% end %>
