<div class="container my-5">
  <h1 class="display-5 fw-bold mb-3"> Filter Events by Keyword e.g. "Concerts"</h1>

  <%= simple_form_for  @message do |f| %>
    <%= f.input :content, label: "Ask a question", required: true %>
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  <% end %>


    <% @messages.each do |message| %>
      <p>
        <strong><%= message.role %> </strong>
        <%= raw(render_markdown(message.content)) %>
      </p>
    <% end %>
</div>
