<% if user_signed_in? %>
  <h2>Neues Event erstellen</h2>

  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :contact %>
    <%= f.input :date, as: :date %>
    <%= f.input :category, as: :select,
                collection: ["Entertainment", "Education", "Work-Related", "Personal"],
                include_blank: false
    %>
    <%= f.input :location %>
    <%= f.submit "Save Event", class: "btn btn-primary" %>
  <% end %>

  <div class="mt-4">
    <%= link_to "← Back to Events", events_path, class: "btn btn-outline-primary" %>
  </div>

<% else %>
  <p>Bitte <%= link_to "logge dich ein", new_user_session_path %>, um ein Event zu erstellen.</p>

  <div class="mt-4">
    <%= link_to "← Back to Events", events_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>
