<div class="container my-5">
  <% if user_signed_in? %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h1>Create a new event</h1>
        <%= render "form", event: @event %>
        <div class="mt-4">
          <%= link_to "â† Back to events", events_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <div class="card p-4">
          <p class="mb-3">Please <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to create an event.</p>
          <%= link_to "â† Back to events", events_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
