<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card shadow-sm p-4">
        <div class="card-body p-0">
          <!-- Event Title -->
          <h1 class="card-title mb-3"><%= @event.title %></h1>

          <!-- Event Description -->
          <p class="card-text text-secondary mb-4"><%= @event.description %></p>

          <!-- Event Details -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y") %>
            </li>
            <li class="list-group-item">
              <strong>Category:</strong> <%= @event.category %>
            </li>
            <li class="list-group-item">
              <strong>Location:</strong> <%= @event.location %>
            </li>
            <li class="list-group-item">
              <strong>Contact:</strong> <%= @event.contact %>
            </li>
            <li class="list-group-item">
               <%= cl_image_tag @event.photo.key, class: "w-100 object-cover", height: 600, crop: :fill unless @event.photo.key == nil%>
            </li>
          </ul>
        </div>
      </div>

      <!--Edit Button-->
      <div class="mt-4 mb-4">
          <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-outline-primary" %>
      </div>

       <!--destroy Button-->
      <div class="mt-4 mb-4">
          <%= link_to "Delete Event",
          event_path(@event),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "btn btn-outline-primary" %>
      </div>


      <!-- Back Button -->
      <div class="mt-4 text-center">
        <%= link_to "â† Back to Events", events_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>
